In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('game data.csv')
df

   Days Outlook Temprature  Routine Wear Jacket?
0     1   Sunny       Cold  Indoor            No
1     2  Cloudy       Cold  Indoor           Yes
2     3  Cloudy       Warm  Outdoor           No
3     4   Sunny       Cold  Outdoor          Yes
4     5  Cloudy       Cold  Outdoor          Yes
5     6   Sunny       Warm  Outdoor           No
6     7  Cloudy       Warm  Indoor            No
7     8   Sunny       Warm  Indoor            No

In [4]:
# Sunny	Cold	Indoor
df['Wear Jacket?'].value_counts()

No     5
Yes    3
Name: Wear Jacket?, dtype: int64

In [15]:
PN = 5/(5+3)
PY = 3/(5+3)

print(PN)
print(PY)

0.625
0.375

In [16]:
# outlook
pd.crosstab(df.Outlook, df['Wear Jacket?'])

Wear Jacket?  No  Yes
Outlook
Cloudy         2    2
Sunny          3    1

In [17]:
PCloudyNo = 2/5
PSunnyNo = 3/5

PCloudyYes = 2/3
PSunnyYes = 1/3

In [18]:
#Temprature
pd.crosstab(df.Temprature, df['Wear Jacket?'])

Wear Jacket?  No  Yes
Temprature
Cold           1    3
Warm           4    0

In [19]:
PColdNo = 1/5
PwarmNo = 4/5

PColdYes = 3/3
PWarmYes = 0

In [20]:
#Routine
pd.crosstab(df.Routine, df['Wear Jacket?'])

Wear Jacket?  No  Yes
Routine
Indoor         3    1
Outdoor        2    2

In [21]:
PIndoorNo = 3/5
PoutdoorNo = 2/5

PIndoorYes = 1/3
POutdoorNo = 2/3

In [22]:
# Sunny	Cold	Indoor

PYes = PY*PSunnyYes*PColdYes*PIndoorYes
PNo = PN*PSunnyNo*PColdNo*PIndoorNo
print(PYes)
print(PNo)

0.041666666666666664
0.045000000000000005

In [23]:
# Ans No

In [24]:
PYes>PNo

False