In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('play_tennis.csv')
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [6]:
df.play.value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [7]:
PY = 9/(9+5)

In [9]:
PN = 5/(9+5)

In [11]:
print(PY)
print(PN)

0.6428571428571429
0.35714285714285715

In [12]:
# outlook
pd.crosstab(df.outlook, df.play)

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [13]:
PoN = 0
PrN = 2/5
PsN = 3/5

PoY = 4/9
PrY = 3/9
PsY = 2/9

In [14]:
# temp

pd.crosstab(df.temp, df.play)

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [15]:
PCoolNo = 1/5
PHotNo = 2/5
PMildNo = 2/5

PCoolYes = 3/9
PHotYes = 2/9
PMildlYes = 4/9

In [16]:
# humidity

pd.crosstab(df.humidity, df.play)

play      No  Yes
humidity
High       4    3
Normal     1    6

In [17]:
PHighNo = 4/5
PNormalNo = 1/5

PHighYes = 3/9
PNormalYes = 6/9

In [18]:
# wind

pd.crosstab(df.wind, df.play)

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [19]:
PStrongNo = 3/5
PWeakNo = 2/5

PStrongYes = 3/9
PWeakYes = 6/9

In [21]:
# outlook = Sunny, temp = Hot, humidity = High, wind = Weak
PYes = PY*PsY*PHotYes*PHighYes*PWeakYes
print(PYes)

0.007054673721340388

In [22]:
PNo = PN*PsN*PHotNo*PHighNo*PWeakNo
print(PNo)

0.02742857142857143

In [ ]:
# No play